.tech_stack {
  display: flex;
  justify-content: space-around; /* Adjust this as needed */
}

.tech_stack img {
  width: 20%; /* Adjust this as needed */
  /* height: auto; */
}

.tabs-container {
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  min-height: 400px;
  margin: 30px auto;
  display: flex;
  /* box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2); */
}

.tabs-container .tabs {
  width: 300px;
  background: #000;
  color: #fffdf4;
  /* text-transform: uppercase; */
  text-align: center;
}

.tabs-container .tabs .tab {
  padding: 24px 32px;
  background: #222;
  cursor: pointer;
  font-weight: bold;
}

.tabs-container .tabs .tab.active {
  background:  #fffdf4;
  color: #222;
}   

.tabs-container .content-container {
  background: #fffdf4;
  width: 100%;

}

.tabs-container .content-container .content {
  display: none;
  padding: 32px;
}

.tabs-container .content-container .content.active {
  display: block;
}
  

.tabs-container .content-container h3 {
  margin: 0;
  font-size: 30px;
}

.tabs-container .content-container p {
  line-height: 2;
}
